   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Curriculum</h2>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Presentación</h3>
          <div class="resume-item pb-0">
            <h4>Damián Lindström</h4>
            <p><em></em></p>
            <ul>
              <li>Avellaneda, Buenos Aires, Argentina</li>
              <li>+54 (011) 15-4414-8671</li>
              <li>hola.damian.developer@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Educación</h3>
          <div class="resume-item">
            <h4>Web Full-Stack Developer - Argentina Programa</h4>
            <h5>2021 - En curso</h5>
            <p><em>CESSI - Ministerio de Desarrollo Productivo</em></p>
          </div>

          <div class="resume-item">
            <h4>Introducción al desarrollo web</h4>
            <h5>2019</h5>
            <p><em><a target="blank" href="/MyResume/assets/img/certificado-modulo2-google.pdf">Google Activate</a></em></p>
          </div>

        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Experiencia profesional</h3>
          <div class="resume-item">
            <h4>Desarrollador Front-End</h4>
            <p><em><a target="blank" href="https://debatesindigenas.org/">Debates Indígenas.org</a></em></p>
            <h5>2019 - Al presente</h5>
            <ul>
              <li>Maquetación y diseño del sitio</li>
              <li>Desarrollo y actualización mensual</li>
              <li>Creación del buscador en PHP-MySql</li>
              <li>Maquetación y diseño de email newsletter semanal</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Desarrollador front-end</h4>
            <p><em><a target="blank" href="https://extraerjusticia.com/">Extraer Justicia.com</a></em></p>
            <h5>Freelancer</h5>
            <ul>
              <li>Maquetación y diseño</li>
              <li>Desarrollo del sitio</li>
              <li>Entrega de código HTML/CSS/JavaScript al ciente</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Desarrollador Front-End</h4>
            <p><em><a target="blank" href="https://cannabiculturadelsur.org/">Cannabicultura del Sur.org</a></em></p>
            <h5>Freelancer</h5>
            <ul>
              <li>Diseño del sitio en Wordpress</li>
              <li>Desarrollo y actualización periódica</li>
            </ul>
          </div>

        </div>



      </div>
    </div>
  </section><!-- End Resume Section -->
